*{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav {
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(86, 86, 86);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    width: 50%;
}

nav li {
    display: inline-block;
    margin-right: 70px;
    padding: 0;
}

nav li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

#add_prom, #add_appr{
    text-decoration: none;
    color: white;
    background-color: rgb(85, 85, 181);
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
}

#search_prom, #search_inp{
    padding: 10px 15px;
}

.table_cont{
    width: 100vw;
    display: flex;
    overflow-x:auto;
}

table{
    border-spacing: 0;
    margin-top: 20px;
    /* display: flex; */
}

table .actions{
    display: flex;
    justify-content: center;
}
table .actions a{
    margin-right: 10px;
}

th{
    text-align: start;
    padding: 20px 20px;
    font-size: 20px;
    background-color: rgb(145, 145, 145);
}

tbody tr:nth-child(2n){
    background-color: rgb(188, 188, 188);
}
tbody tr:nth-child(2n+1){
    background-color: rgb(236, 236, 236);
}

td {
    /* min-width: 100px; */
    padding: 20px 20px;
    font-size: 20px;
}

td a{
    color: rgb(50, 50, 50);
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

td a:first-child{
    background-color: rgb(104, 137, 179);
    color: white;
}

td a:nth-child(2){
    background-color: rgb(174, 84, 84);
    color: white;
}

.cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cont input[type="text"] {
    min-height: 30px;
    min-width: 180px;
    border-radius: 5px;
    border: solid 2px rgba(0, 0, 0, 0.374);
    outline: none;
}

.cont input[type="button"],
.cont input[type="submit"] {
    height: 30px;
    padding: 0 20px;
    border-radius: 5px;
    font-size: 17px;
    border: solid 2px rgba(0, 0, 0, 0.374);
}

.cont input[type="button"]:hover,
.cont input[type="submit"]:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

#appr_form {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: -10;
    opacity: 0;
    background-color: rgba(191, 191, 191, 0.338);
}

#appr_form>div {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 30%;
    background-color: gray;
    padding: 40px 60px;
    border-radius: 10px;
}

#appr_form input[type="text"] {
    width: 70%;
    min-height: 30px;
    border-radius: 5px;
    border: none;
}

#appr_form label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

#close_btn {
    position: absolute;
    top: 10px;
    right: 10px;
    color: rgb(152, 0, 0);
    cursor: pointer;
}